<!DOCYTYPE html>
 <html xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraneq.net.nz//thymelaf/layout">
  
     
     <head>
         <title>event01</title>
     </head>
     
     <body>
         
         <h1>cadastro de evento</h1>  
         <form method="post">
             Nome:<input type="text" value="" name="nome"/>
             Local:<input type="text" value=""name="local"/>
             Data:<input type="text" value="" name="data"/>
             Horario:<input type="text" value="" name="horario"/>
             
             <button type="submit">salvar</button>
         </form>
     
     
     
     
     
     
     
 </html>